.header {
  width: 100%;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 40px, 100px;
  z-index: 1;
  
  h1 {
    position: relative;
    text-decoration: none;
  }
  
  button {
    position: relative;
    margin: 0 15px;
    transition: 0.5s;
  }
  
 

}

